*{
  box-sizing:border-box;
}

@font-face{
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Light.ttf');
}

body{
  font-family: OpenSans;
}

h1{
  font-weight: normal;
  margin: 0;
}

h2{
  font-weight: normal;
  margin: 0.25em 0;
}

a{
  color:black;
  text-decoration: none;
}

p{
  margin:0;
}



.main-header,
.main-nav{
  display:flex;
}

.main-nav{
  flex:1;
  flex-direction: column;
  align-items: center;
  background:linear-gradient(rgba(20,20,20,0.55),rgba(20, 20, 20, 0.85));
  box-shadow: 0 0 10px;
  z-index: 1;
}

.main-nav li{
  width:100%;
  text-align: center;
  border-bottom: 1px solid grey;
}

.main-nav a{
  display:block;
  padding: 0.25em;
  font-size:1.3em;
  color:white;
}

/*Banner*/
.background{
  width:auto;
  margin:0;
  /*float:left;*/
}

.background img{
  width:100%;
  padding-left: 0;
  -webkit-filter: saturate(70%);
  /*float:left;*/
}

.banner{
  position:relative;
  height:100%;
}

.banner-text{
  position:absolute;
  width:100%;
  top: 0;
  text-align: center;
  color: white;
}

/*About*/
.about{
  width:90%;
  margin:0 5%;
}


/*Media Queries*/

@media(min-width: 35em){

  .main-nav li{
    width:auto;
    border: 1px solid grey;
  }

  .main-nav a{
    padding: 5px 20px;
  }

  .main-nav{
    /*display:flex;*/
    flex-direction: row;
    justify-content: space-between;
  }

  .banner h1{
    font-size:300%;
  }

  .banner p{
    font-size:larger;
  }

  .banner-text{
    top: 1.5em;
  }

  .about{
    width:80%;
    margin: 0 10%;
    background-color: #ECECEA;
  }
}

@media(min-width: 52em){
  .main-nav{
    justify-content: flex-end;
    position: fixed;
    top:0;
    width:100%;
  }

  .main-nav li{
    margin: 0 1em;
  }

  body{
    margin-top: 40px;
    min-height: 100vh;
  }

  .banner h1{
    font-size: 500%;
  }

  .banner p{
    font-size: 300%;
  }
}