*{
  box-sizing:border-box;
}

@font-face{
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Light.ttf");
}

@font_face{
  font-family: BebasNeueLight;
  src:url("../fonts/BebasNeueLight.otf");
}
body{
  font-family: OpenSans;
  height: 100vh;
}

h1{
  font-weight: normal;
  margin: 0;
}

h2{
  font-weight: normal;
  margin: 0.25em 0;
}

a{
  color:black;
  text-decoration: none;
}

p{
  margin:0;
}

/*-----------------------
---------Header----------
-------------------------*/

.main-header{
  display:flex;
  flex-direction: column;
  background-color:rgba(255, 255,255, 0.6);
  box-shadow: 0 0 10px;
  z-index: 2;
  position:relative;
}


.main-nav{
  display:none;
  flex:1;
  flex-direction: column;
  align-items: center;
}

.main-nav li{
  width:100%;
  text-align: center;
  border-bottom: 1px solid grey;
}

.main-nav a{
  display:block;
  padding: 0.25em;
  font-size:1.3em;
}

.dropdown {
  width:20px;
  align-self: flex-end;
  margin: 2px;
  margin-left:auto;
  margin-right: 2px;
}


/*-----------------------
---------Banner----------
-------------------------*/
.background img{
  width:100%;
  padding-left: 0;
  -webkit-filter: saturate(70%);
  max-height: calc(100vh - 40px);
}

.banner{
  position:relative;
}

.banner-text{
  font-family: BebasNeueLight;
  position:absolute;
  width:100%;
  top: 0;
  text-align: center;
}

.banner-text h1{
  font-size: 1em;
}

.banner-text p{
  font-size: 0.5em;
  margin-top: -0.15em;
}
.background{
  margin:0;
}

.banner a{
  position:absolute;
  bottom: 1em;
  left:0;
  color:white;
  font-size: 0.5em;
}
/*-----------------------
---------Content----------
-------------------------*/
.about,
.contact,
.projects{
  width:90%;
  margin:0 5% 10px 5%;
}

.active{
  text-decoration: underline;
}

/*-----------------------
---------Projects----------
-------------------------*/
.logo{
  width:80%;
  display:inline-block;
  margin: auto;
}

.projects{
  display:flex;
  flex-direction: column;
}

.project{
/*  border-top:1px solid black;
  border-bottom: 1px solid black;*/
}

.projects h2{
  text-align: center;
  font-size: 2em;
}

.text{
  display:none;
  padding-top: 15px;
}

.projects img,
.thermovest h2{
  display:block;
  padding: 10px;
  border: 1px solid #6898ce;
  border-radius: 15px;
}
.split{
  border-top:none;
}

.shown{
  box-shadow: inset 0px 0px 10px #000000;
}

.centered{
  text-align: center;
}

.centered p{
  margin-top: 10px;
}

/*
  The h2 element of thermovest is the one to be clicked because there is no 
  img available. Set the styling of the thermovest h2 element to be like project
  logos so that users know it is clickable
*/
.thermovest h2{
  display:inline-block;
  margin-top: 25px;
}

.thermovest{
  text-align:center;
}

.thermovest .text{
  text-align: left;
}

/*-----------------------
---------Contact----------
-------------------------*/
.contact p,
.phone{
  padding-top: 10px;
}

.contact .phone{
  text-align: center;
}

/*-------------------------
---------Media Queries-----
-------------------------*/

@media(min-width: 22em){
  .banner-text h1{
    font-size: 2em;
  }

  .banner-text p{
    font-size: 1em;
  }
  .main-nav{
    display: flex;
  }

  .dropdown{
    display:none;
  }

  .contact a{
    border-radius: 5px;
    padding: 5px;
    background-color: #6898ce;
  }

  .contact p,
  .contact a,
  .contact span{
    font-size: 1.25em;
    margin: 10px 0;
  }
  .projects{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .project{
    width:50%;
    padding: 0 10px;
  }

  .thermovest{
    width:100%;
  }
}
@media(min-width: 35em), (orientation:landscape){

  .main-nav li{
    width:auto;
    border: 1px solid grey;
    flex:1;
  }

  .main-nav a{
    padding: 5px;
  }

  .main-nav{
    /*display:flex;*/
    flex-direction: row;
    justify-content: space-between;
  }

  .banner h1{
    font-size:300%;
  }

  .banner p{
    font-size:larger;
  }

  .banner-text{
    top: 1em;
  }

  .about, 
  .contact{
    width:80%;
    margin: 0 10% 10px 10%;
  }

  .project{
    width: 33%;
  }

  .thermovest h2{
    margin-top:8px;
  }
}

@media(min-width: 52em){

  .main-header{
    position:fixed;
    width:100%;
    top:0;
  }
  .main-nav{
    justify-content: flex-end;
  }

  .main-nav li{
    margin: 0;
    flex: initial;
    margin: 0 10px;
    border-radius: 5px;
  }

  .main-nav a{
    padding: 5px 15px;
  }

  body{
    margin-top: 40px;
    min-height: 100vh;
  }

  .banner h1{
    font-size: 500%;
  }

  .banner p{
    font-size: 300%;
  }

  .projects{
    padding-top: 50px;
  }
}

